body {
    background-color: #D7C9AA;
}

h1 , h3{
    font-family: 'Carter One', cursive;
    text-align: center;
    padding: 15px;
}

#text-box {
    font-family: 'Carter One', cursive;
   margin-left: 40%;
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   color: #7B2D26;
   
}

#button-div {
display: block;
justify-content: space-between;
margin-left: 37%;
}

.translate {
margin-top: 5%;
color:black;
font-size: 21px; 
line-height: 16px; 
padding: 2%; 
border-radius: 10px; 
font-family: 'Carter One', cursive;
background-color: #0B7A75; 
border: 2px solid whitesmoke;
}

#output-container {
    font-family: 'Carter One', cursive;
    width: 265px;
    height: 172px;
    border: 1px solid black;
    margin-top: 3%;
    margin-left: 40%;
    text-align: center;
    background-color: white;
    color: #7B2D26;
}
